body{
  background-image: url("desktop.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: white;
}
.align01{
  display: flex;
}
.bg{
  background-color: white;
  border: 5px solid white;
  border-radius: 50px;
  padding: 0px;
  margin: 10px;
  width: 300px;
}
.inp{
  height: 30px;
  border: 5px solid white;
}
.google{
  height: 30px;
  width: 30px;
  background-image: url("google.png");
}
img{
  box-shadow: 0px 0px 10px 5px red;
  animation-name: a1;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes a1{
  25%{
    box-shadow: 0px 0px 10px 5px blue;
  }
  50%{
    box-shadow: 0px 0px 10px 5px green;
  }
  75%{
    box-shadow: 0px 0px 10px 5px indigo;
  }
  98%{
    box-shadow: 0px 0px 10px 5px red;
  }
}