body {
  background-image: linear-gradient(to bottom right, red, blue, green);
  color: white;
  user-select: none;
  text-shadow: 0px 0px 10px white;
}
.text01{
  font-size: 50px;
}
.align{
  align-items: center;
}
.margin01{
  margin-top: 300px;
}
.ball-spin{
  height: 40px;
  width: 40px;
  background-color: white;
  border: 5px solid white;
  border-radius: 1000px;
  animation-name: ball-spin-01;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes ball-spin-01{
  from{
    
  }
  to{
    transform: translateY(-60px);
  }
}
.margin02{
  margin-top: 200px;
}